header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.itens-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;
    text-decoration: none;
}

.imagem-logo {
    width: 80px;
    height: 80px;
}

footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-top: 2px solid rgb(54, 54, 54);
    color: rgb(63, 63, 63);
}

.itens-header li a:hover {
    background-color: white;
    border-radius: 16px;
    color: black;
}

a {
    color: white;
    text-decoration: none;
    padding: 8px;
}

@media screen and (max-width: 1300px) {

    header {
        padding: 0.2rem 2rem 0 2rem;
    }

    .imagem-logo {
        width: 60px;
        height: 60px;
    }

}

@media screen and (max-width: 650px) {

    .itens-header {
        display: none;
    }

    header {
        padding: 0.2rem 1rem 0 1rem;
    }

}