header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.itens-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;
    text-decoration: none;
}

.imagem-logo {
    width: 80px;
    height: 80px;
}

footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: #929292;
    padding: 8px;
    font-weight: 300;
}

.itens-header li a:hover {
    background-color: white;
    border-radius: 16px;
    color: black;
}

a {
    color: white;
    text-decoration: none;
    padding: 8px;
}

@media screen and (max-width: 1400px) {

    header {
        padding: 0.2rem 2rem 0 2rem;
    }

    .imagem-logo {
        width: 60px;
        height: 60px;
    }

    
    a {
        padding: 10px;
        font-size: 12px;
    }


}

@media screen and (max-width: 650px) {

    .itens-header {
        display: flex;
        padding: 0.5rem 0rem;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        text-align: center;
        gap: 10px;
    }

    .imagem-logo {
        display: none;
    }



}