main {
    align-items:center;
    justify-content: center;
    padding-bottom: 3rem;

}

.section-projetos {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    height: 100%;
    padding-top: 1rem;
}

.projeto-pequeno {
    width: 160px;
    height: 150px;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    border: 1px solid rgb(0, 0, 0);
}

.button-cv {
    border-radius: 10px;
    border: 2px solid #000;
    background: var(--Amarelo, #F90);
    font-weight: 600;
    font-size: 24px;
    padding: 2px 8px;
}

.projeto-grande {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

.englobamento {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.projetos {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    width: 800px;
    overflow-x: scroll;
}

.projetos-selecionado {
    display: flex;
    padding: 1rem;
}

.sobre-os-projetos {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    text-align: center;
    padding: 0 0 0 1rem;
    width: 480px;
}

h1 {
    font-size: 38px;
    color:  #F90;
}

h2 {
    color:  #F90;
}

.logo {
    width: 50px;
    height: 50px;
}

.projeto {
    display: none;
}

.selecionado {
    display: flex;
}

@media screen and (max-width: 1400px) {

    main {
        padding: 0;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 24px;
    }

    .projeto-grande {
        width: 500px;
        height: 300px;
        border-radius: 10px;
    }

    .button-cv {
        font-size: 16px;
        padding: 2px 10px;
    }

    .logo {
        width: 40px;
        height: 40px;
    }

    p {
        font-size: 14px;
    }
}

@media screen and (max-width: 1250px) {

    .projeto-grande {
        width: 500px;
        height: 300px;
    }

    .englobamento {
        flex-direction: column;
    }

    .projetos {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        align-items: center;
        width: 800px;
        overflow-x: scroll;
    }

    .projeto-pequeno {
        width: 200px;
        height: 100px;
        border: none;
        align-items: center;
        display: flex;
    }

}

@media screen and (max-width: 975px) {
    .projetos-selecionado {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

    }

    .projetos {
        width: 600px;
    }

}

@media screen and (max-width: 670px) {

    .projeto-grande {
        width: 300px;
        height: 200px;
        border-radius: 10px;
    }

    .sobre-os-projetos {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        text-align: center;
        padding: 10px;
        max-width: 300px;
    }

    .projetos {
        width: 350px;
    }

}

