@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #111111;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}